:root {
    font-family: "Inter";
    background-color: #282D35;
    color: #FFF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    padding: 30px;
}

.nav-logo-title {
    display: flex;
    align-items: center;
    color: #61DAFB;
}

.nav-logo {
    margin-right: 7px;
}

.nav-title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
}

.nav-subtitle {
    margin: 0;
    color: #DEEBF8;
    font-weight: 600;
}

.main-container {
    background-image: url("assets/react-logo-large.png");
    background-position: right 75%;
    background-repeat: no-repeat;
}

.main-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 25px;
    margin-bottom: 45px;
    letter-spacing: -0.05em;
}

.main-list {
    margin-left: 50px;
    font-weight: 400;
    font-size: 16px;
    max-width: 400px;
}

.main-list>li:not(:last-child) {
    margin-bottom: 20px;
}

.main-list>li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}